.xdebug-error .xe-warning {
	z-index: 999;
}
body {
	margin-top: 50px;
	margin-left: 200px;
	padding-top: 50px;
    background-color: #edf1f2;
}

.AcHeader {
    height: 50px;
    width: 100%;
    background-color: #1199c4;
}

.AcContainer {
    width: auto;
    background-color: #edf1f2;
}

.AcLeftNavigation {
	overflow:visible	;
    background-color: #dde6e9;
    width: 200px;
    left: 0;
    top: 0px;
    position: absolute;
	min-height: 100%;
	padding-top: 50px;
}

.navbar {
    border: 0 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background-image: none;
    filter: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    /* -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075); */
    /* box-shadow: inset 0 3px 9px rgba(0,0,0,0.075); */
}

.navbar-default {
    background-image: none;
    filter: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.clear {
    clear: both;
    display: block;
}

@media only screen and (max-width: 1024px) {
    .metro .grid.fluid .row [class*="span"].left_content_span9 {
        margin-left: 0;
    }
    .metro .grid.fluid .row .span9.left_content_span9 {
        width: 100%!important;
    }
}


#AcLoading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-height: 100%;
    background-color: rgba(50, 50, 50, 0.66);
    color: #ffffff;
}

    #AcLoading #AcLoaderBar {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 2px;
        z-index: 1001;
    }

        #AcLoading #AcLoaderBar #AcLoaderBarFill {
            width: 0%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #1ba1e2;
            height: 2px;
            z-index: 1002;
        }

    #AcLoading #AcLoader {
        text-align: center;
        display: block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 50px;
        margin-left: -200px;
        margin-top: -25px;
    }

        #AcLoading #AcLoader #AcLoaderMessage {
            color: #ffffff;
        }

        #AcLoading #AcLoader #AcLoaderSpin {
            padding-bottom: 5px;
        }
